/* font */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"); */
/* common style or utilities */
.body {
  margin: 0px;
  padding: 0px;
  font-family: Assistant !important;
}
.navbar-custom {
  position: relative;
  overflow: hidden;
  padding-left: 20%;
}
.navbar-custom::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
  /* background-color: #ff4917; */
}
/* slider  */
.slider {
  position: relative;
  overflow: hidden;
}
.slider::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 7%;
  height: 100%;
  border-top: 203px solid red;
  border-right: 200px solid transparent;
  /* background-color: #ff4917; */
}
.slider::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 9%;
  height: 100%;
  border-top: 256px solid red;
  border-right: 250px solid transparent;
  opacity: 75%;
  /* background-color: #ff4917; */
}
.slider::after(:after) {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  width: 11%;
  height: 100%;
  border-top: 300px solid red;
  border-right: 250px solid transparent;
  opacity: 50%;
  /* background-color: #ff4917; */
}
.ul-style {
  margin-left: 500px;
}
ul li {
  list-style: none;
  text-decoration: none;
  color: black;
}
li a {
  text-decoration: none;
  padding: 4px;
  position: 0 10px;
}
.container-position {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;

  align-items: center;
}
@media screen and (max-width: 600px) {
  .shopping-size {
    align-items: center;
    width: 400px;
    height: auto;
  }
  .model-img {
    align-items: center;
    margin-left: 0%;
    width: 390px;
  }
  section {
    margin-bottom: 40px;
  }
}
/* btn color */
.btn-color-bg {
  background-color: #ff4917 !important;
}
.slider {
  background-image: url(/images/rsz_business-consulting.jpg);
  opacity: 100 !important;
}
/* .navbar-custom::before {
  height: auto;
  width: 200px;
  background-color: #ff4917 !important;
} */
.button-custom {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* .button-custom::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 15%;
  height: 70%;

  background-color: #ff4917;
} */
.button-custom-in {
  position: absolute;
  right: 0;
  width: 50%;
  height: 70%;
  border-radius: 79px;
  background-color: #ff4917;
  z-index: -1;
}
.test-shape {
  height: 200px;
  width: 200px !important;
  border-radius: 50%;
  display: inline-block;
  /* border: 10px solid #ff4917;
  border-left: 10px solid #e7d8d8b0;
  border-bottom: 10px solid #e7d8d8b0;
  border-top: 10px solid #e7d8d8b0; */
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
