/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common style or utilities */
.ul-style {
  margin-left: 500px;
}
ul li {
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: black;
}
li a {
  text-decoration: none;
  padding: 4px;
  position: 0 10px;
}
.container-position {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;

  align-items: center;
}
@media screen and (max-width: 600px) {
  .shopping-size {
    align-items: center;
    width: 400px;
    height: auto;
  }
  .model-img {
    align-items: center;
    margin-left: 0%;
    width: 390px;
  }
  section {
    margin-bottom: 40px;
  }
}
