/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common style or utilities */
.colum-glatter {
  flex-direction: column;
}
/* Line 1 */
hr {
  position: absolute;
  width: 807px;
  height: 0px;
  left: 315px;
  top: 410px;

  border: 1px solid #d1d1d1;
}
.fa-star.filled {
  color: #ffc014;
}
.empty {
  color: #aeaeae;
}
.clock {
  background-color: #fee5df;
}
